// Custom Card Styling

.card {
  .card-header {
    // Format Dropdowns in Card Headings

    h6 {
      font-weight: 500 !important;
    }
    .dropdown {
      line-height: 1;
      .dropdown-menu {
        line-height: 1.5;
      }
    }

    .btn-group {
      a {
        &.action {
          height: 2rem;
          width: 2rem;
          padding-left: 0.44rem;
          padding-top: 0.2rem;
          &:hover {
            background-color: $gray-200;
          }
          &:active {
            background-color: $gray-300;
          }
        }

        &.dropdown-toggle::after {
          display: none;
        }
      }
    }
  }
  // Collapsable Card Styling
  .card-header[data-toggle="collapse"] {
    text-decoration: none;
    position: relative;
    padding: 0.75rem 3.25rem 0.75rem 1.25rem;
    &::after {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 1.725rem;
      line-height: 51px;
      font-weight: 900;
      content: '\f107';
      font-family: 'Font Awesome 5 Free';
      color: $gray-400;
    }
    &.collapsed {
      border-radius: $card-border-radius;
      &::after {
        content: '\f105';
      }
    }
  }



  @media only screen and (max-width: 600px) {
    .card-body {
      padding: 0;
    }
  }
}
