// Area Table
.widget-body-content {
  position: relative;
  //max-height: 50rem;
  height: fit-content;
  width: 100%;
  @include media-breakpoint-up(md) {
    //height: 20rem;
  }
}

.criteria-container{
  //
  //.topbar .dropdown ul[id^=search-results-dropdown] {
  //  max-height: 13rem;
  //  overflow: auto;
  //}
  ul[id^="search-results-dropdown"] {
    max-height: 13rem;
    overflow: auto;
    min-width: 25rem !important;

    &::-webkit-scrollbar {
      width: 0.75rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      border-width: 0.2rem;
      border-style: solid;
      background-clip: padding-box;
      background-color: #c7cdd6;
      border-color: transparent;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background: inherit;
    }
  }


  .navbar-search {
    width: 25rem !important;
    margin-right: 0px !important;


    .input-group-joined {
      border-color: #c5ccd6;
      border-width: 1px;
      border-style: solid;
      border-radius: 0.4375rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .input-group-joined:focus-within {
      border-color: transparent;
      box-shadow: 0 0 0 0.25rem rgba(0, 97, 242, 0.25);
    }

    .input-group-joined .form-control {
      border: none;
    }

    .input-group-joined .form-control:focus {
      box-shadow: none;
      outline: none;
    }

    .input-group-joined .input-group-text {
      border: none;
      background-color: #eef2f8;
      padding: 0 0.8rem;
    }

    input {
      font-size: 0.85rem;
      height: auto;
      background-color: transparent;
    }

    .feather {
      &.feather-search {
        height: 1rem;
        width: 1rem;
        vertical-align: top;
      }

    }

    .input-group-joined.input-group-solid {
      border: 0;
      background-color: #eef2f8;
    }
  }
}
