footer.footer-admin {
  height: 5rem;
  display: flex;
  align-items: center;

  &.footer-light {
    color: $footer-color !important;
    a {
      color: $footer-color !important;
      text-decoration: none;
    }
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
