// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    #app {
      overflow-x: hidden;
    }
  }
}

a {
  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    padding-left: 0.3rem !important;
    padding-right:  0.3rem !important
  }
}


// Main page wrapper
#wrapper {
  //display: flex;
  .topnav {
    padding-left: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1040;


    .navbar-brand {
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
      width: 14rem;
    }

    .navbar-nav {
      .nav-item {
        button {
          &:hover {
            background-color: $gray-200;
          }

          &:active {
            background-color: $gray-300;
          }
        }

      }
    }


    .btn {
      .feather {
        margin-top: -1px;
        height: 0.875rem;
        width: 0.875rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .topnav {
      z-index: 1041 !important;
    }
  }

  #sidebar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1040;
    padding-top: 4.375rem;
    width: 15rem;

    .sidebar-content {
      display: flex;
      height: 100%;
      font-size: 0.9rem;
      .sidebar {
        flex-grow: 1;
        overflow-y: overlay;
      }
    }
  }


  #tree-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1038;
    padding-top: 4.375rem;
    width: 17rem;

    .tree-content {
      display: flex;
      height: 100%;
      font-size: 0.9rem;
      background-color: $white;

      flex-direction: column;
      //.tree-toggler{
      //  position: absolute;
      //  display: flex;
      //  align-items: center;
      //  left: 17rem;
      //  border: 0;
      //  background-color: $white;
      //  width: 2rem;
      //  height: 3rem;
      //  top: 7.825rem;
      //  border-radius: 0rem 0.35rem 0.35rem 0rem;
      //  .settings-icon {
      //    height: 0.875rem;
      //    width: 0.875rem;
      //  }
      //}
      .tree-control {
        padding: 0.75rem;
        //max-width:17rem;
        //min-width:17rem;

        span {
          margin-top: 0.5rem;
          font-size: 0.7rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }

        .dropdown-toggle{
          height: 2rem;
          width: 2rem;
          padding-left: 0.5rem;
          padding-top: 0.2rem;
          &:hover {
            background-color: $gray-200;
          }
          &:active {
            background-color: $gray-300;
          }
        }
        #tree-aim-active {
          padding-left: 0.45rem !important;
        }

        #tree-hide-btn,  #tree-aim-active {
          height: 2rem;
          width: 2rem;
          padding-left: 0.6rem;
          padding-top: 0.2rem;
          &:hover {
            background-color: $gray-200;
          }
          &:active {
            background-color: $gray-300;
          }
        }
      }
      .tree-structure {
        flex-grow: 1;
        overflow-y: overlay;
        padding-bottom: 0.9rem;
        padding-top: 0.1rem;


        //background-color: #fff;
        //border-radius: 0rem 0rem 0.35rem 0.35rem;

      }
    }
  }

  #content-wrapper {
    display: flex;
    //background-color: $gray-100;
    //width: 100%;
    //overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }

    .tree-toggler{
      position: fixed;
      display: none;
      align-items: center;
      //left: 17rem;
      border: 0;
      z-index: 999;
      background-color: $white;
      width: 2rem;
      height: 3rem;
      top: 7.825rem;
      border-radius: 0rem 0.35rem 0.35rem 0rem;
      box-shadow: 0 0.15rem 1.75rem 0 rgba(34, 39, 46, 0.15);
      .settings-icon {
        height: 0.875rem;
        width: 0.875rem;
      }
    }

    @media only screen and (max-width: 600px) {
      .tree-toggler{
        right: 0;
        border-radius: 0.35rem 0 0 0.35rem;
        top: 15.825rem;
        display: flex;
      }
    }

    #content-sub-wrapper{
      padding-left: 17rem;
      top: 4.375rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
      flex-grow: 1;
      min-height: calc(100vh - 4.375rem);
    }


  }
}


// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;

  &:focus,
  &:hover {
    color: white;
  }

  &:hover {
    background: $gray-800;
  }

  i {
    font-weight: 800;
  }


}
