// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  //display: flex;
  .topnav {
    padding-left: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1039;


    .navbar-brand {
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
      width: 12rem;
    }

    .btn {
      .feather {
        margin-top: -1px;
        height: 0.875rem;
        width: 0.875rem;
      }
    }
  }

  #sidebar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1038;
    padding-top: 4.375rem;
    width: 15rem;

    .sidebar-content {
      display: flex;
      height: 100%;
      font-size: 0.9rem;
      .sidebar {
        flex-grow: 1;
        overflow-y: overlay;
      }
    }
  }

  #content-wrapper {
    display: flex;
    //background-color: $gray-100;
    //width: 100%;
    //overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }

    #content-sub-wrapper{
      padding-left: 15rem;
      top: 4.375rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
      flex-grow: 1;
      min-height: calc(100vh - 4.375rem);
    }


  }
}


// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;

  &:focus,
  &:hover {
    color: white;
  }

  &:hover {
    background: $gray-800;
  }

  i {
    font-weight: 800;
  }
}
